build/*
testrun/*
multicore_run/*
prefetcher_run/*
build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/simple_bootloader/*.o
/system/arm/simple_bootloader/boot.arm
/system/arm/simple_bootloader/boot_emm.arm
/system/arm/aarch64_bootloader/boot_emm.arm64
/src/arch/alpha/*.py
/src/arch/arm/ArmISA.py
/src/arch/mips/MipsISA.py
/src/arch/power/PowerISA.py
/src/arch/power/isa.cc
/src/arch/sparc/SparcISA.py
/src/arch/x86/X86ISA.py
/src/cpu/pred/BranchPredictor.py
/src/cpu/pred/bpred_unit.cc
/src/cpu/pred/bpred_unit.hh
/src/cpu/pred/bpred_unit_impl.hh
/src/cpu/pred/sat_counter.hh
src/mem/protocol/*.orig
SConscript
/binaries
/disks
packet.proto
protoio.cc
protoio.hh
